.slidedeck .title > h1 {
    top: 300px;
    font-size : 96pt;
}


#title {
    > h1 {
        font-size: 170pt;
        top: 0;
        width: 50%;
        position: absolute;
        height: 100%;
        margin: 0 40px;
    }

    .block-image > img {
        transform: scale(1.2) translate(100px, 0px);
    }
}

#why-do-we-teach {
    
    h2 {
        top: 0;
        position: absolute;
        width: 40%;
        font-size: 180pt;
    }

    .block-image > img {
        transform: scale(1.3) translateX(200px);
    }
}

#why-do-students-attend {
    h2 {
        font-size: 160pt;
        width: 45%;
        float: right;
    }

    .block-image > img {
        transform: scale(1.3) translatex(-200px);      
    }
}


#set-realistic-goals {
    > h2 {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 1200px;
        font-size: 140pt;
        text-align: center;
    }
}

#simplify {
    > h2 {
        font-size: 150pt;
        right: 0;
        position: absolute;
        bottom: 350px;
    }

    .block-image > img {
        width: unset;
    }

}

#make-it-social {
    > h2 {
        font-size: 180pt;
        width: 40%;
        /* text-align: center; */
    }

    > .block-image > img {
        object-fit: contain;
        transform: scale(2.7) translateY(200px);
    }
}

#make-them-team-up {
    > h2 {
        position: absolute;
        font-size: 130pt;
        width: 800px;
        left: 300px;
    }   
    
    > ul {
        height: 100%;
        position: absolute;
        top: 0;
        margin: 0;

        li {
            margin : 0;
            img {
                max-height: unset;
            }
        }

        li:nth-child(even) {
            position : relative;
            top: 370px;
        }
    }
}

#make-them-autonomous {
    > h2 {
        font-size: 150pt;
        width: 70%;
        bottom: 0;
        right: 0;
        position: absolute;
        text-align: center;
    }
}

#become-a-storyteller {

    > h2 {
        width: 55%;
        font-size: 160pt;
        position: absolute;
        top: 430px;
    }    
    
}

#use-your-voice {
    > h2 {
        font-size: 150pt;
        position: absolute;
        width: 700px;
        right: 0;
        bottom: 0;
    }
}

#use-a-whiteboard {
    > h2 {
        position: absolute;
        font-size: 130pt;
        right: 0;
        width: 920px;
        top: 100px;
    }

    > .block-image > img {
        transform: scale(1.4) translate3d(-150px, 0, 0);
    }
}

#dont-tell-show {
    > h2 {
        font-size: 150pt;
        position: absolute;
        width: 700px;
        text-align: right;
    }
    > .block-image > img {
        transform: scale(3) translate3d(0px, 300px, 0);
        object-fit: contain;
    }

}

#flipped-classroom {
    > h2 {
        position: absolute;
        font-size: 120pt;
        width: 35%;
        /* margin: 20px; */
        text-align: center;
    }
    > .block-image > img {
        transform: scale(-1, -1);
    }
}

#fear {
    > h2 {
        position: absolute;
        font-size: 170pt;
        right: 80px;
        top: 100px;
    }

    > .block-image > img {
        transform: scale(1.4) translate3d(100px, 100px, 100px);
    }
}

#gluttony {
    > h2 {
        position: absolute;
        font-size: 160pt;
        top: 500px;
    }

    > .block-image > img {
        transform: scale(1.3);
    }
}

#mating {
    > h2 {
        position: absolute;
        font-size: 150pt;
        top: 180px;
    }    
    .block-image > img {
        object-fit: contain;
        transform: scale(2.5) translate3d(400px, 200px, 0px);
    }
}

#make-great-slides {
    > h2 {
        position: absolute;
        font-size: 140pt;
        width: 30%;
        left: 200px;
        top: 100px;
    }

    .block-image > img {
        object-fit: contain;
        transform: rotate(45deg) scale(1.5);
    }
}

#body-language {
    h2 {
        position: absolute;
        font-size: 120pt;
        width: 30%;
        right: 0;
        text-align: right;
    }    
}

#conclusions {
    > h2 {
        display : none;
    }

    > p {
        font-size: 100pt;
        top: 0;
        width: 50%;
        position: absolute;
        height: 100%;
        margin: 0 40px;
        font-family: "Lilita One", sans-serif;
        font-weight: 400;
        font-style: normal;
        padding: 80px 40px;
        line-height: 0.9em;
        background-color: rgba(255, 231, 32, 0.86);
        color: #d75050;
        position: relative;
        z-index: 10;
    }

    > p > em {
        display: block;
        font-size: 50pt;
        margin-top: 80px;
        text-align: right;
        font-style: normal;
    }
    
    .block-image > img {
        transform: scale(1.2) translate(100px, 0px);
    }
}